PORT=4000
# Exemplo PostgreSQL: postgresql://usuario:senha@localhost:5432/pixelgg?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pixelgg?schema=public"
# Em produção, a API pode usar o mesmo domínio e deixar vazio
# URL do webhook (discord) para notificações de venda imediata
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1479296645043589373/i57L5erXha84_lfZlyYyMtXDQ2MzF5TDn5oWoBu0Zoy4pabF1AqC2MYu8nSdu1y3f_xa
# chave de API fornecida pelo Woovi (AppID) para autorizar chamadas
WOOVI_APP_ID=
CORS_ORIGIN="http://localhost:5173"
JWT_SECRET="troque_por_uma_chave_forte"
ADMIN_NAME="Administrador PixelGG"
ADMIN_USERNAME="admin"
ADMIN_EMAIL="admin@pixelgg.gg"
ADMIN_PASSWORD="Admin@123456"

